---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
def get_list_of_university_towns():
    open_university_towns = open("data/university_towns.txt")
    university_towns = open_university_towns.read()
    split_university_towns = university_towns.split("[edit]")
    state_map = []
    for i in range(0,len(split_university_towns)-1):
        state = split_university_towns[i].split("\n")[-1].strip(" ")
        cities = split_university_towns[i+1].split("\n")[1:-1]
        state_map += [[state,city.split("(")[0].strip(" ")] for city in cities ]
    return pd.DataFrame(state_map,columns=["State", "RegionName"])
get_list_of_university_towns().head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [3]:
def get_gdplev():
    df = pd.read_excel('data/gdplev.xls',skiprows=7,
                       names = 
              [["Year","GDP Annual","GDP Annual Converted"
                ,"blank","Year_Quarter","GDP Quarter", 
                "GDP Quarter Converted","blank2"]])
    return df
def get_recession_start():
    df = get_gdplev()
    year_2000_start = df[df["Year_Quarter"] == "2000q1"].index[0]
    df = df.iloc[year_2000_start:]    
    year = []
    for i in range(2,len(df)):
        gdp_quarter = df["GDP Quarter Converted"]
        if ((gdp_quarter.iloc[i] - gdp_quarter.iloc[i-1] <= 0) 
            & (gdp_quarter.iloc[i-1] - gdp_quarter.iloc[i-2] <= 0)):
            return df["Year_Quarter"].iloc[i-1]
        else:
            continue
get_recession_start()

'2008q3'

In [4]:
def get_recession_end():
    df = get_gdplev()
    recession_start = df[df["Year_Quarter"] == get_recession_start()].index[0]
    df = df.iloc[recession_start:]
    for i in range(0,len(df)-2):
        gdp_quarter = df["GDP Quarter Converted"]
        if ((gdp_quarter.iloc[i] - gdp_quarter.iloc[i+1] < 0) 
            & (gdp_quarter.iloc[i+1] - gdp_quarter.iloc[i+2] < 0)):
            return df["Year_Quarter"].iloc[i+2] 
        else:
            continue
get_recession_end()

'2009q4'

In [5]:
def get_recession_bottom():
    df = get_gdplev()
    recession_start = df[df["Year_Quarter"] == get_recession_start()].index[0]
    recession_end = df[df["Year_Quarter"] == get_recession_end()].index[0]
    df = df.iloc[recession_start:recession_end]
    return df["Year_Quarter"].loc[df["GDP Quarter Converted"].idxmin()]
get_recession_bottom()

'2009q2'

In [6]:
def get_states_abrev():
    return {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

def convert_housing_data_to_quarters():
    df = pd.read_csv("data/City_Zhvi_AllHomes.csv")
    df["State"] = df['State'].apply(lambda x: get_states_abrev()[x])
    df.set_index(["State","RegionName"],inplace = True)
    df = df.filter(regex = "20")
    df.columns = pd.to_datetime(df.columns, infer_datetime_format=True,errors='ignore')
    df = df.resample("Q",axis=1).mean()
    df.rename(columns=lambda col: '{}q{}'.format(col.year, col.quarter),inplace = True)    
    return df
convert_housing_data_to_quarters().head()

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,515466.666667,522800.000000,528066.666667,532266.666667,540800.000000,557200.000000,572833.333333,582866.666667,591633.333333,587200.0
California,Los Angeles,207066.666667,214466.666667,220966.666667,226166.666667,233000.000000,239100.000000,245066.666667,253033.333333,261966.666667,272700.000000,...,498033.333333,509066.666667,518866.666667,528800.000000,538166.666667,547266.666667,557733.333333,566033.333333,577466.666667,584050.0
Illinois,Chicago,138400.000000,143633.333333,147866.666667,152133.333333,156933.333333,161800.000000,166400.000000,170433.333333,175500.000000,177566.666667,...,192633.333333,195766.666667,201266.666667,201066.666667,206033.333333,208300.000000,207900.000000,206066.666667,208200.000000,212000.0
Pennsylvania,Philadelphia,53000.000000,53633.333333,54133.333333,54700.000000,55333.333333,55533.333333,56266.666667,57533.333333,59133.333333,60733.333333,...,113733.333333,115300.000000,115666.666667,116200.000000,117966.666667,121233.333333,122200.000000,123433.333333,126933.333333,128700.0
Arizona,Phoenix,111833.333333,114366.666667,116000.000000,117400.000000,119600.000000,121566.666667,122700.000000,124300.000000,126533.333333,128366.666667,...,164266.666667,165366.666667,168500.000000,171533.333333,174166.666667,179066.666667,183833.333333,187900.000000,191433.333333,195200.0

In [7]:
def run_ttest():    
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).''' 
    housing_prices = convert_housing_data_to_quarters()
    housing_prices["recession_ratio"] = housing_prices[get_recession_start()]/housing_prices[get_recession_bottom()]
    univ_house_prices = pd.merge(housing_prices,get_list_of_university_towns(),
                                 left_index = True, right_on = ["State","RegionName"],
                                 how = 'inner').set_index(["State","RegionName"])["recession_ratio"]
    non_univ_house_prices = housing_prices.loc[list(set(housing_prices.index) - 
                                                    set(univ_house_prices.index))]["recession_ratio"]
    stat,p_val = ttest_ind(univ_house_prices,non_univ_house_prices,nan_policy="omit")
    if non_univ_house_prices.mean() >= univ_house_prices.mean():
        winner = "university town"
    elif non_univ_house_prices.mean() <= univ_house_prices.mean():
        winner = "non-university town"
    else:
        winner = "Tie" 
    
    return (p_val<0.01,p_val,winner)
run_ttest()

(True, 0.0054964273536330264, 'university town')